.category {
	padding: 20px;
	background-color: #f8f9fa;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin: 20px;
}

.category-heading {
	margin-bottom: 20px;
}

.category-professional-container {
	background-color: #e9ecef;
	padding: 15px;
	border-radius: 10px;
}

.category-professional {
	background-color: #e9ecef;
	padding: 15px;
	border-radius: 10px;
	border: 2px solid black;
	border-width: 2px;
}
