/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal Container */
.modal {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Modal Header */
.modal h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
}

/* Modal Body */
.modal-body {
  margin-bottom: 20px;
}

/* Modal Input Labels */
.modal label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Modal Inputs with Black Border */
.modal input[type="datetime-local"],
.modal textarea {
  width: calc(100% - 16px); /* Adjusted width to account for padding and border */
  padding: 8px;
  border: 2px solid #000; /* Black border color */
  border-radius: 5px;
  box-sizing: border-box;
}

/* Modal Footer */
.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 20px; /* Added gap between buttons */
}

/* Modal Buttons */
.modal-footer button {
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.3s;
  background-color: #0692e9; /* New hover color */
  color: white;
}

/* Button Hover Effect */
.modal-footer button:hover {
  background-color: #ffffff; /* New hover color */
  transform: scale(1.05);
  color: black;
  border-color: #0692e9;
}
